* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
  color: #303036;
}

/* Header/logo Title */
.header {
  padding: 5px;
  text-align: center;
  background: #fc5130;
  color: FFFAFF;
}

.navbar {
  display: flex;
  background-color: #fffaff;
  color: FFFAFF;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fffaff;
}

.side {
  flex: 50%;
  background-color: #fffaff;
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;;
  padding: 20px;
  text-align: center;
  background-color: #303036;
  color: #fffaff;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}

.board-container {
  display: grid;
  grid-template-columns: repeat(11, 2.2rem);
  justify-content: center;
  align-items: center;
}

.board-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffaff;
  height: 2.2rem;
  border-style: solid;
  border-width: 0.5px;
}

.board-tile-boat {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303036;
  height: 2.2rem;
  border-style: solid;
  border-width: 0.5px;
}

.board-tile-hit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc5130;
  height: 2.2rem;
  border-style: solid;
  border-width: 0.5px;
}

.board-tile-miss {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30bced;
  height: 2.2rem;
  border-style: solid;
  border-width: 0.5px;
}

.board-tile-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffaff;
  height: 2.2rem;
  border-style: solid;
  border-width: 0.5px;
  font-weight: bold;
}

.board-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  margin: 15px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  background-color: #fc5130;
  border-width: 0.2px;
  border-color: #303036;
  color: #303036;
  text-transform: uppercase;
  font-weight: bold;
}

.message-board {
  display: flex;
  background-color: #303036;
  justify-content: center;
  align-items: center;
  color: #fffaff;
  padding: 10px;
  width: 300px;
  text-align: center;
  font-weight: 500;
  border-style: solid;
  border-width: 0.05rem;
  border-radius: 8px;
  margin: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-item{
  margin: 0px 10px 0px 10px;
}